<% include partials/head %>
<main>
        <h1> <%= title %><br> <span class="text-danger"> !? Are You Sure You Want To Delete !? </span></h1>
        <div>
            <%- content %>
        </div>
<form action= "/delete" method="POST">
    <input type="hidden" id="delID" name="delid" value="<%= id %>">
    <button type="submit">Delete Post</button>
</form>

</main>
<% include partials/foot %>