<% include partials/head %>

<main>
    <div class="row justify-content-center">
    <article class="ml-3 mt-1 postarea col-md-8">
        <h1><%= post.title %></h1>
        <div class="postcontentarea mb-3">
            <%- post.postContent %>
        </div>
    </article>
</div>
</main>

<% include partials/foot %>